tr, td, th{
    padding: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%; /* Center the dropdown horizontally */
  transform: translateX(-70%);
  margin-top: 5px; /* Adjust spacing from the button */
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 8rem;
  padding: 0.5rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  text-decoration: none;
  background-color: #e9ecef;
}